---
- name: Disable SELinux
  ansible.builtin.template:
    src: selinux_config.j2
    dest: /etc/selinux/config
    owner: root
    group: root
    mode: '0644'

- name: Reboot the machine with all defaults
  ansible.builtin.reboot:
